{% include 'header.html' %}

<main>
    <article  class="all-browsers">
        <header>
            <h1>Presentation</h1>
            <p class="author">Updated <time datetime="2021-01-20 01:57:12">Den 20. januari 2021</time></p>
        </header>
        <img src="{{ picture }}" class="me-left" alt="{{ firstname }}">
        <p>
            Mitt namn är {{ firstname }} {{ familyname }} och detta startsidan för min me-sidan inom kursen {{ course }}.
        </p>
        <p>
            Jag läser webbprogrammering distans sedan september 2020 och den här kursen är min sjätte kurs inom det programmet.
            <br>
            Förutom dessa programkurser läser jag en del fristående kurser inom maskinlärning samt Internet of Things.
        </p>

        <footer>
            Ett stort skäl till att jag valt att läsa denna utbildning är just
            planerna på att öka friheten vad det gäller både arbete och fritid.
            Därför har jag börjat fila på en professionell profil som för tillfället hittas under <a href="https://046.one/#education" target="_blank">https://046.one</a>
        </footer>
    </article>
</main>

{% include 'footer.html' %}
